{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="welcome">Welcome, {{username}}!</h1>

        <p class="welcome-msg">Thank you for joining the Multi-User Blog. Please be respectful when posting and refrain from any vulgar comments. This application is built on the core foundations of Python I learnt during my Udacity Full Stack Course.</p>

        <p><a class="btn btn-primary btn-md" href="/" role="button">Go to Blog Posts »</a></p>
    </div>
</div>
{% endblock %}
